/* :root {
    --infinte: infinite; 
    --wholeRotate: rotate(360deg);

} */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url(access/galaxy.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sun {
  width: 100px;
  height: 100px;
}

.orbit {
    position: absolute;
    border: 1px #ffffff dashed;
    border-radius: 50%;
    width: var(--orbitdimension);
    height: var(--orbitdimension);
    animation: spin-right var(--orbitperiod) linear infinite;
}

.planet {
  position: absolute;
  top: var(--makecenter);
  left: var(--makecenter);
  background-image: var(--planetimage); 
  width: var(--planetdimension);
  height: var(--planetdimension);
  animation: spin-right var(--planetperiod) linear infinite;
  z-index: 100;
  background-size: cover;

}


@keyframes spin-right {
    100% {
      transform: rotate(360deg);
    }
  }
